<!-- <html data-ng-app="SiteBlockerApp">
<body data-ng-controller="AppCtrl">
<section id="main">
  <nav>
    <h2>Site Blocker</h2>
    <button class="btn" data-ng-click="fetchDocs()">Refresh</button>
    <button class="btn" id="close-button" title="Close"></button>
  </nav>
  <ul>
    <li data-ng-repeat="doc in docs">
      <img data-ng-src="{{doc.icon}}"> <a href="{{doc.alternateLink}}">{{doc.title}}</a>  {{doc.size}}
      <span class="date">{{doc.updatedDate}}</span>
    </li>
  </ul>
</section> -->