<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="LinkBlockerApp" ng-csp>
	<head>
	<title>Link Blocker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
	<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

	<script type="text/javascript" src="js/vendor/angular.js"></script>
	<script type="text/javascript" src="js/popup.js"></script>
	<script type="text/javascript" src="js/storageService.js"></script>
	</head>

  	<body>
		<div ng-controller="PopUpCtrl">
			<div id="container-main" class="container">
				<form class="form-horizontal">
				    <h2>Block A Site</h3>
				    <div class="form-group">
				    	<label id="add-label" for="addUrl" class="control-label col-xs-2">URL</label>
					    <div class="col-xs-8">
					    	<input id="addUrl" ng-model="newLink" type="text" class="form-control" placeholder="blockme.com">
				    	</div>
					    <button ng-click="create(newLink)" class="btn btn-primary" class="col-xs-2">Add</button>
				    </div>
				    <div class="horizontal-separator form-group"></div>
				    <div class="form-group">
					    <div class="h3 col-xs-6">All Sites</div>
					    <div class="col-xs-6">
							<input id="site-search" class="form-control" type="text" ng-model="query" placeholder="Search...">
					    </div>
				    </div>
				    <div ng-repeat="e in linkEntities | filter:query">
				    	<div class="form-group">
					    	<label class="link-label control-label col-xs-2">Link</label>
					    	<div class="col-xs-9">
						    	<input type="text" ng-disabled="true" ng-model="e.link" class="form-control">
							</div>
							<div class="col-xs-1">
								<a class="delete-link close" ng-click="delete(e.id)">&times;</a>
							</div>
							<div class="form-group">
							    <label class="control-label col-xs-2">Block?</label>
							    <div class="col-xs-10">
								    <input id="block-link" type="checkbox" ng-model="e.disabled">
								</div>
							</div>
					    </div>
				    </div>
			    </form>
		    </div>
		</div>
	</body>
</html>

