<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="LinkBlockerApp" ng-csp>
	<head>
	<title>Link Blocker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">

	<script type="text/javascript" src="js/vendor/angular.js"></script>
	<script type="text/javascript" src="js/popup.js"></script>
	<script type="text/javascript" src="js/date.js"></script>
	<script type="text/javascript" src="js/storageService.js"></script>
	<script type="text/javascript" src="js/entityService.js"></script>
	</head>

  	<body>
		<div ng-controller="PopUpCtrl">
			<div id="container-main" class="container">
				<form class="form-horizontal">
				    <h2>Block A Site</h3>
				    <div class="form-group">
				    	<label id="add-label" for="addUrl" class="control-label col-xs-2">URL</label>
					    <div class="col-xs-8">
					    	<input id="addUrl" ng-model="newLink" type="text" class="form-control" placeholder="blockme.com">
				    	</div>
					    <button ng-click="create(newLink)" class="btn btn-primary" class="col-xs-2">Add</button>
				    </div>
				    <div class="horizontal-separator form-group"></div>
				    <div class="form-group">
					    <div class="h3 col-xs-6">All Sites</div>
					    <div class="col-xs-6">
							<input id="site-search" class="form-control" type="text" ng-model="query" placeholder="Search...">
					    </div>
				    </div>
				    <div ng-repeat="e in linkEntities | filter:query">
				    	<div class="form-group">
					    	<label class="control-label col-xs-2 text-right link-label">Link</label>
					    	<div class="col-xs-9">
						    	<input type="text" ng-disabled="true" ng-model="e.link" class="form-control">
							</div>
							<div class="col-xs-1">
								<a class="delete-link close" ng-click="delete(e.id)">&times;</a>
							</div>
						</div>
						<div class="form-group form-group-sub">
						    <label class="control-label col-xs-2 text-right link-label">Block?</label>
						    <div class="col-xs-10">
							    <button class="btn btn-primary sub-items" ng-click="updateHour(e)">+1 Hour</button>
							    <button class="btn btn-primary sub-items" ng-click="updateMinutes(e)">+30 Min</button>
							</div>
					    </div>
					    <div class="form-group form-group-sub">
						    <div class="col-xs-8 col-xs-offset-2 sub-items">
						    	{{e.disableTill !== "" && e.disableTill.hoursRemaining > 0 ? e.disableTill.hoursRemaining + ' hours, ' : ''}}
						    	{{e.disableTill !== "" && !e.disableTill.expired() ? e.disableTill.minutesRemaining + ' min, ' + e.disableTill.secondsRemaining + ' sec' : ''}}
						    </div>
					    </div>
				    </div>
			    </form>
		    </div>
		</div>
	</body>
</html>

